body {
  padding: 0;
  margin: 0;
}

nav {
  height: 70px;
  background: #1a2c79;
}

nav a {
  float: right;
  margin: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
nav img {
  margin: 10px 0px 0px 20px;
  width: 50px;
  height: 50px;
  border-radius: 80%;
}

.banner {
  position: relative;
  text-align: center;
  color: #fff; /* Text color */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

.welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Text color */
}

.welcome-message h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 1.5em;
}

.title {
  text-align: center;
  order: 1;
  color: #1a2c79;
  text-align: center;
  display: block;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.about-section {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: 500px;
  margin-bottom: 20px;
}

.column {
  float: left;
  width: 50%;
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 20px;
}

/* Adjust styles as needed */
.left-column {
  background-color: #f2f2f2;
}

.right-column {
  background-color: #e6e6e6;
}

/* Optional: Responsive styling for smaller screens */
@media (max-width: 768px) {
  .column {
    width: 100%;
  }
}

.footer {
  background-color: #400606;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.footer .columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer .column {
  flex: 1;
  max-width: 300px;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .social-icons {
  margin-top: 20px;
}

.footer .social-icons a {
  display: inline-block;
  margin-right: 15px;
  font-size: 1.5em;
}

.footer .copyright {
  margin-top: 20px;
}

.login-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

form {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #1a2c79;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}

button.cancel {
  background-color: #aaa;
}
